.x-panel-header {
  background-image:none;
  background-color: #dfe8f6;
  border-color:#99BBE8;
  color:#15428B;
  font-family:tahoma,arial,verdana,sans-serif;
  font-size:11px;
  font-weight:bold;
  padding: 5px;	
}

.approval-title {
  white-space: normal; font-weight: bold; font-size: 16px; 
}

.approval-text {
  padding: 2px 0 0 2px;
}

.approval-cell {
  white-space: normal; padding: 4px;
}

.stats-cell {
	 padding: 8px;  white-space: normal; height: 10;  
}

.stats-tooltip {
	padding: 3px;  white-space: normal; font-weight: bold; text-align:center; 
}

.default-stats-row { 
	padding: 3px;  white-space: normal; height: 10; background-color:white;
}

.stats-row-tooltip {
	 padding: 5px;  white-space: normal; font-weight: bold; text-align:center;
}